.paper{
    height:100vh;
}


.container {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.text {
    color: #F4E1D2;
    font-size: 30px;
    text-decoration: none;
}